@font-face {
  src: url(fonts/SpecialGothicCondensedOne-Regular.ttf);
  font-family: Special Gothic Condensed One;
}
@font-face {
  src: url(fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf);
  font-family: Roboto Italic;
}
@font-face {
  src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
  font-family: Roboto;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #464c66;
  background-image: url("images/texture3.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;

}
.top_info {
  position: relative; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0px 20px;
  overflow: hidden;
  background-color: #ffc006;

}

.logo {
  height: 80px;
  
}
.right-logo {
  padding-right: 20px;
  height: 103.2px;
}
.left-logo {
 height: 75px;
}

.search-container {
  display: flex;
  align-items: center;
  height: 40px;
}

.search-bar {
  height: 100%;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 24px ;
  font-size: 16px;
  width: 300px;
  border: 2px solid #555;

}

.search-button {
  height: 100%;
  background-color: #004080;
  border: 2px solid #555;
  border-radius: 16px;
  cursor: pointer;
  padding: 0 15px;

}
.search-button:hover {
  background-color:#1A2A56 ;
}

.main-header {
  background-color: #2D3142;
  padding-bottom: 10px;
  position: relative;
  background-image: url("images/texture.jpg");
  background-blend-mode: multiply; /* Options: overlay, darken, lighten, screen, etc. */
  background-size: cover;
  background-position: center;

}

.title {
  text-align: center;
  margin: 0;
  font-size: 3em;
  font-family: "Special Gothic Condensed One";
  font-weight: normal;
  color: white;
}
.slogan{
  text-align: center;
  margin: 0;
  font-size: 1.5em;
  font-family: "Special Gothic Condensed One";
  font-weight: lighter;
  color: rgb(255, 255, 255);
  background-color: #CC4B4B ;
  height: 100%;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px; 
 }
.categories button{
  font-family: "Roboto Italic";
  background-color: transparent;

} 
.categories button:hover {background-color: #1A3A5F;
  text-decoration: underline;
}
.filter-area{
  height: 50%; 
  width: 0; 
  position: fixed; 
  z-index: 10; 
  top: 200px;
  left: 0;
  background-color: rgba(76, 122, 76, 0.2); /* This uses rgba with 0.2 alpha (20% opacity) */
  overflow-x: hidden; 
  padding-top: 60px; 
  bottom: 500px; /* Add some bottom margin for vertical centering */
  transition: 0.5s; 
}

.filterbtn {
  position: fixed;
  background-color: transparent;
  color: white;
  border: none;
  z-index: 2;
  top: 50%; 

}

.filterbtn:hover {
  background-color: #092d57;
  border: white 5px;
  border-radius: 12px;
  padding: 5px;
}

.filter-area .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
  transition: 0.3s;
}
.filter-area .closebtn:hover {
  color: red;
  text-decoration: none;
}
.filter-area a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.filter-area a:hover {
  color: red;
  text-decoration: underline;

}
.filter-area legend{
  padding: 8px 16px 8px 16px;
  text-decoration: none;
  font-size:20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  max-width: 200px; 
  cursor: pointer;
}

.checkbox-container span {
  order: 1; 
}

.checkbox-container input[type="checkbox"] {
  order: 2; 
  margin-left: 10px; 
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .filter-area {padding-top: 15px;}
  .filter-area  {font-size: 18px;}
}
/* 
#DisplayArea{
   background-color: #ffffff; 
} */

.radio-container {
  display: flex;
  align-items: center;
  padding: auto;
}

.radio-container input[type="radio"] {
  margin-right: 10px;
}

.radio-container p {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  transition: 0.3s;
}
.radio-container p:hover {
  text-decoration: underline;
  color: #9b6464;
}
.dropdown {
  position: relative;
  /* display: inline-block; */
  margin-left: 30px;
}

/* Dropdown button */
.dropdown-button {
  background-color: transparent;
  color: #818181;
  padding: 10px 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgba(202, 183, 98, 0.2); ;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 20px;

}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-button {
  color: #8fff85;

}


.card-container {
  margin-bottom: 30px;
  display: flex;
  gap: 100px; 
  justify-content:flex-end;
  align-items: left;
  overflow: hidden;
}

.card {
  width: 525px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left : 5px;
  height: 300px;
  /* display: flex; */
  justify-content:left;
  align-items: center;
}

.card-content {
  padding: 20px;
  font-family: "Verdana";
  color: #777;
}

.card-content h2 {
  margin-top: 0;
  font-size: 20px;
}
.card ul {
  overflow: hidden; /* Prevents content from flowing under floated elements */
  padding-left: 15px;
}

.card img {
  width: 45%;
  height: 50%;
  float:inline-start;
}
.card li{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.card button {
  position: relative;
  bottom: 50px;
  margin-left: 410px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

button {
  text-align: center;
  background-color: #666;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin: 5px;
}


